.minWishlist,
.mincart {
  display: none;
  position: absolute;
  top: 40px;
  right: 0;
  background-color: $main-text-color;
  // remember in small screens small it
  width: 385px;
  padding: 1rem;
  z-index: 1;
  .content {
    .wishlistTitle,
    .cartTitle {
      h3 {
        text-transform: capitalize;
        color: $primary-color;
      }
      p {
        color: $secondary-text-color;
        line-height: 1;
      }
    }
    .wishlistItems,
    .cartItems {
      // height of 2 item + 2 margin top 1rem
      height: 344px + 32px;
      overflow-y: scroll;
      scrollbar-width: none;
      .wishlistItem,
      .cartItem {
        display: flex;
        justify-content: space-between;
        margin-top: 1rem;
        .image {
          img {
            width: 115px;
            // height: 158px;
            height: 100%;
          }
        }

        .wishlistDetails,
        .cartDetails {
          h3 {
            color: $primary-color;
            text-wrap: nowrap;
            font-size: 16px;
            text-transform: capitalize;
          }
          section {
            display: flex;
            justify-content: space-between;
            margin-bottom: 0.3rem;
            h4 {
              text-transform: uppercase;
              color: $primary-color;
            }
            p {
              color: $secondary-text-color;
              display: flex;
              align-items: center;
              gap: 5px;
              line-height: 1;
              span {
                width: 15px;
                height: 15px;
                border-radius: 50%;
                display: inline-block;
                border: 1.5px solid $secondary-text-color;
              }
            }
          }
          .quantity {
            h3 {
              text-transform: uppercase;
            }
            p {
              color: $secondary-text-color;
              line-height: 1;
            }
          }
        }
      }
    }
    .buttons {
      width: 100%;
      button {
        text-transform: uppercase;
        width: 100%;
        padding: 1rem;
        background: none;
        border: 2px solid $primary-color;
        letter-spacing: 2px;
        font-weight: 900;
        margin-top: 1rem;
        color: $primary-color;
        cursor: pointer;
      }
      .check-out {
        background-color: $secondary-color;
        border: none;
      }
    }
  }
}
@include breakpoints(verySmall) {
  .minWishlist,
  .mincart {
    display: none !important;
  }
}
