.mySwiperCollection,
.mySwiperTrending {
  direction: ltr;
  .swiper-wrapper {
    .swiper-slide {
      section {
        .image {
          width: 310px;
          height: 375px;
          position: relative;
          img {
            max-width: 100%;
          }
          span {
            position: absolute;
            top: 1rem;
            left: 1rem;
            background-color: $secondary-color;
            color: $primary-color;
            padding: 0 1rem;
            font-weight: bold;
            user-select: none;
          }
          .addToWishlist {
            position: absolute;
            top: 1rem;
            right: 1.5rem;
            width: 44px;
            height: 44px;
            background-color: $tertiary-color;
            color: $primary-color;
            font-weight: bold;
            cursor: pointer;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            svg {
              font-size: 24px;
              color: $primary-color;
            }
          }
        }
        .info {
          h4 {
            color: $primary-color;
          }
          p {
            display: flex;
            align-items: center;
            svg {
              margin-right: 0.5rem;
              color: $tertiary-color;
            }
            .rated {
              color: gold;
            }
            small {
              margin-left: 2rem;
              color: $primary-color;
              font-size: 13px;
              font-weight: 400;
              span {
                color: $secondary-text-color !important;
              }
            }
          }
          .price {
            margin-top: 0.5rem;
          }
        }
      }
    }
  }
}
@include breakpoints(medium) {
  .swiper-slide {
    display: flex;
    justify-content: center;
  }
}
