.release {
  padding: $main-padding + 154px 0 0 0;
  color: $main-text-color;
}
@include breakpoints(medium) {
  .release {
    padding: unset;
    padding: 106px 0 0 0;
    background-color: $primary-color;
    .container {
      padding: 10px 0 0 0;
    }
  }
}
.new-collection {
  padding: $main-padding 0;
  color: $main-text-color;
}
