@import url('https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@100..900&display=swap');
$primary-color: #020127;
$secondary-color: #dbfc08;
$tertiary-color: #e2e3e9;

$main-text-color: #fff;
$secondary-text-color: #5b6584;
// $p-color: #cad8d5;

// $font-family-inter: 'Inter', sans-serif;

$transition-duration: 0.3s;

$opacity: 0.9;

$main-padding: 40px;
